<p id="notice"><%= notice %></p>

<h3>New Product</h3>

<%= render 'form', product: (@product || Product.new) %>

<h3>Products List</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Url</th>
      <th>Reviews Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.url %></td>
        <td><%= product.reviews.count %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
