<p id="notice"><%= notice %></p>

<h3>Product Detail</h3>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Reviews:</strong>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>User</th>
        <th>Location</th>
      </tr>
    </thead>

    <tbody>
      <% @product.reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td><%= review.content %></td>
          <td><%= review.user %></td>
          <td><%= review.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Back', products_path %>
