<p id="notice"><%= notice %></p>

<h3>Product Detail</h3>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<%= link_to 'Back', products_path %>
